#modal{
    border: 1px solid;
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.datosPersonas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:20%;
}
nav{
    display: flex;
    background-color: aliceblue;
    width: 80%;
    justify-content: space-around;
    margin: auto;
   align-items: center;

}
nav a{
   
    justify-content: space-around;
    text-align: center;
    
}
.homenav{
    background-color: black
    width: 20%;
}
